<div class="container wrapper wrapper2">
    <div class="row">
        <!-- Form -->
        <div class="col-md-12">
            <h3> infos personne</h3>
            <form [formGroup]="detailsForm" >
                <div class="form-group">
                    <label>Date de Paiement</label>
                    <input type="text" formControlName="datePaiement" class="form-control" maxlength="20">
                </div>
                <div class="form-group">
                    <label>Montant Payé</label>
                    <input type="text" formControlName="montantPaiement" class="form-control" maxlength="20">
                </div>
                <div *ngFor="let item of declarations | keyvalue" class="col-md-6">
                    <div class="row"> {{item.key}}  :   {{item.value}}</div>
              </div>
               
               
              
                <button type="button" routerLink="/" class="btn btn-danger">Retour</button>
            </form>
        </div>
    </div>
</div>