<div class="container wrapper wrapper2">
    <div class="row">
        <!-- Form -->
        <div class="col-md-12">
            <h3> infos personne</h3>
            <form [formGroup]="detailsForm" >
                <div class="form-group">
                    <label>Raison Sociale</label>
                    <input type="text" formControlName="raisonSociale" class="form-control" maxlength="20">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" formControlName="email" class="form-control" maxlength="20">
                </div>
                <div class="form-group">
                    <label>Adresse</label>
                    <input type="text" formControlName="adresse" class="form-control" maxlength="20">
                </div>
               
                <div class="form-group">
                    <label>Numero de Telephone</label>
                    <input type="text" formControlName="telephone" class="form-control" maxlength="20">
                </div>
              
                <button type="button" routerLink="/" class="btn btn-danger">Retour</button>
            </form>
        </div>
    </div>
</div>